In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('E:\Mat_Work\machine-learning-ex1\Python\ex1data2.txt')
X = data.iloc[:,0:2]
y = data.iloc[:,2]
m = len(y)
data.head()

   2104  3  399900
0  1600  3  329900
1  2400  3  369000
2  1416  2  232000
3  3000  4  539900
4  1985  4  299900

In [2]:
X = (X - np.mean(X))/np.std(X)

In [3]:
y = y[:,np.newaxis]
ones = np.ones((m,1))
X = np.hstack((ones,X))
alpha = 0.01
num_iters = 400
theta = np.zeros((3,1))

In [4]:
def computeCostMulti(X,y,theta):
    temp = np.dot(X,theta) - y
    return np.sum(np.power(temp,2)) / (2*m)

In [5]:
J = computeCostMulti(X, y, theta)
print(J)

65279190347.902176

In [6]:
def gradientDescentMulti(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/m) * temp
    return theta

In [7]:
theta = gradientDescentMulti(X, y, theta, alpha, num_iters)
print(theta)

[[333032.07465084]
 [100130.7408761 ]
 [  3699.66611303]]

In [8]:
J = computeCostMulti(X, y, theta)
print(J)

2129135983.2744648